{% extends "core/base.html" %}
{% load static %}

{% block title %}Leads{% endblock %}



{% block content %}

<h1>Leads Configuration {{ organization.name }}</h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">Leads Default Assigned To</h5>
        <ul>
{% if default_assigned_to %}
                    <p>
                        username: {{ default_assigned_to.user.username }}
                    </p>
                    <p>
                        Nombres: {{default_assigned_to.user.first_name }} {{ default_assigned_to.user.last_name }}
                    </p>
                    <p>
                        Email: {{ default_assigned_to.user.email }}
                    </p>
                    <p>
                        Organization: {{ organization.name }}
                    </p>
{% else %}
<li>No hay agente seleccionado como Default Assigned To</li>
{% endif %}
        </ul></p>
        </div>
      </div>
    </div>
  </div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">Leads Default Created By</h5>
                <ul>
                    {% if default_created_by %}
                    <p>
                        username: {{ default_created_by.user.username }} 
                    </p>
                    <p>
                        Nombres: {{default_created_by.user.first_name }} {{ default_created_by.user.last_name }} 
                    </p>
                    <p>
                        Email: {{ default_created_by.user.email }}
                    </p>
                    <p>
                        Organization: {{ organization.name }}
                    </p>


                    {% else %}
                    <li>No hay agente seleccionado como Default Created By</li>
                    {% endif %}
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="w-50 p-3">
    <form method="post" action="{% url 'leads:leads_conf' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label for="assigned_to" class="form-label me-2">Select Default Assigned To Agent:</label>
            <select name="assigned_to" class="form-select">
                {% for agent in agents %}
                <option value="{{ agent.id }}">{{ agent.get_full_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </div>
    </form>
</div>

<hr>

<div class="w-50 p-3">
    <form method="post" action="{% url 'leads:leads_conf' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label for="created_by" class="form-label me-2">Select Default Created By Agent:</label>
            <select name="created_by" class="form-select">
                {% for agent in agents %}
                <option value="{{ agent.id }}">{{ agent.get_full_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </div>
    </form>
</div>



<br><br>



{% endblock %}

