{% extends "core/base.html" %}
{% load static %}

{% block title %}Leads{% endblock %}

{% block styles %}
<!-- Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

<!-- organization/organisator_list.html -->
            <h2>Organizations</h2>
            <ul>
                {% for organization in organizations %}
                <li><a href="{% url 'organization:organization_detail' organization.pk %}">
                    {{ organization.name }} - {{ organization.email }}</a> - {{ organization.created_by.first_name }} {{ organization.created_by.last_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'organization:organization_create' %}">Organization Create</a>
    </div>
</div>
{% endblock %}


